@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-fira-code: "Fira Code", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #14171b;
    --foreground: #ffffff;
    --font-fira-code: "Fira Code", monospace;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-fira-code);
}

code, pre {
  font-family: var(--font-fira-code);
}
